<div>
  <ion-row class="ion-align-items-center">
    <ion-label class="labelCampo">Titulo da publicação:</ion-label>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-input type="text" [(ngModel)]="novaPublicacao.tituloPublicacao" placeholder="Insira o titulo da publicação"></ion-input>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-label class="labelCampo">Número de páginas:</ion-label>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-input type="number" [(ngModel)]="novaPublicacao.qtdPaginasPublicacao" placeholder="Insira o número de páginas da publicação"></ion-input>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-label class="labelCampo">Tamanho (em cm):</ion-label>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-input type="number" [(ngModel)]="novaPublicacao.tamPublicacao[0]" placeholder="Insira o tamanho da publicação"></ion-input>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-label class="labelCampo">Peso (em gramas):</ion-label>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-input type="number" [(ngModel)]="novaPublicacao.pesoPublicacao" placeholder="Insira o peso da publicação"></ion-input>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-label class="labelCampo">Selecione o gênero</ion-label>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-label *ngIf="novaPublicacao.generoPublicacao == null; else comGenero" class="labelSelecao" (click)="abrirModalGeneros()">Selecione</ion-label>
  
    <ng-template #comGenero>
      <ion-label class="labelSelecao" (click)="abrirModalGeneros()">{{ novaPublicacao.generoPublicacao.tituloGenero }}</ion-label>
    </ng-template>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-label class="labelCampo">Faixa Etária</ion-label>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-input type="text" [(ngModel)]="novaPublicacao.faixaEtariaPublicacao" placeholder="Insira a faixa etária da publicação"></ion-input>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-label class="labelCampo">Descrição:</ion-label>
  </ion-row>
 
  <ion-row class="ion-align-items-center">
    <ion-textarea [(ngModel)]="novaPublicacao.descricaoPublicacao" placeholder="Insira a descrição da publicação"></ion-textarea>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-label class="labelCampo">Preço De:</ion-label>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-input type="number" [(ngModel)]="novaPublicacao.precoDePublicacao" placeholder="Insira o preço 'De:' da publicação"></ion-input>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-label class="labelCampo">Preço Por:</ion-label>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-input type="number" [(ngModel)]="novaPublicacao.precoPorPublicacao" placeholder="Insira o preço 'Por:' da publicação"></ion-input>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-label class="labelCampo">Carregar imagem da capa:</ion-label>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-card>
        <ion-card-content>
          <label for="arquivo">
            <ion-icon name="camera-sharp" *ngIf="!imageUrl; else comImagem"></ion-icon>

            <ng-template #comImagem>
              <img [src]="imageUrl">
            </ng-template>
          </label>
          <input type="file" accept="images/" id="arquivo" #file class="fileInput" (change)="preview( file.files, $event )">
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-alin-items-center">
    <ion-button fill="solid" expand="black" (click)="salvarNovaPublicacao()">Salvar </ion-button>
  </ion-row>
</div>

