<div class="headerImagens">
  <div class="capaAutor">
    <img [src]="autor.capaAutor">
  </div>

 <ion-col>
   <ion-avatar>
     <img [src]="autor.fotoAutor">
   </ion-avatar>
 </ion-col>
 <ion-col>
   <ion-row>
     <h1>{{ autor.nomeAutor }} {{ autor.sobrenomeAutor }}</h1>
   </ion-row>
   <ion-row class="alinhamentoGenerosAutor">
    <ion-label *ngFor="let genero of autor.generosAutor">#{{ genero.tituloGenero }} </ion-label>
   </ion-row>
 </ion-col>
</div>

<div class="biografia">
  <ion-row class="ion-align-items-center">
    <ion-col>
          <p>
            {{ autor.biografiaAutor }}
          </p>
    </ion-col>
  </ion-row>
</div>