<div>
  <ion-row class="linhaPedidos">
    <ion-label class="tituloTabela">Pedidos</ion-label>
  </ion-row>
  
  <ion-grid >
    <ion-row  size="500px"> 
      <ion-col class="color">
        Nome
      </ion-col>
      <ion-col class="color">
      Data
    </ion-col>
      <ion-col class="color">
        Qtd
      </ion-col>
      <ion-col class="color">
        Status
      </ion-col>
    </ion-row>

    <ion-row size="500px">
      <ion-col>
        Pedro Antônio Alves
      </ion-col>
      <ion-col >
      30/05/2022
    </ion-col>
      <ion-col>
       5
      </ion-col>
      <ion-col>
      Pago
    </ion-col>
    </ion-row>

    <ion-row size="500px">
    <ion-col>
      Juliana Nascimento
    </ion-col>
    <ion-col >
    21/05/2022
  </ion-col>
    <ion-col>
     2
    </ion-col>
    <ion-col>
    Aguardando pagamento
  </ion-col>
  </ion-row>

  <ion-row size="500px">
  <ion-col>
    Danilo Costa
  </ion-col>
  <ion-col >
  20/05/2022
</ion-col>
  <ion-col>
   1
  </ion-col>
  <ion-col>
  Aguardando pagamento
</ion-col>
</ion-row>

<ion-row size="500px">
<ion-col>
  João Fonseca
</ion-col>
<ion-col >
12/05/2022
</ion-col>
<ion-col>
 2
</ion-col>
<ion-col>
Enviado
</ion-col>
</ion-row>
  </ion-grid>
</div>

<div>
  <ion-row class="linhaPedidos">
    <ion-label class="tituloTabela">Publicações</ion-label>
  </ion-row>

  <ion-grid >
    <ion-row  size="500px"> 
      <ion-col class="color">
        Nome
      </ion-col>
      <ion-col class="color">
        Qtd
      </ion-col>
    </ion-row>

    <ion-row size="500px">
      <ion-col>
      Aura
      </ion-col>
      <ion-col>
       5
      </ion-col>
    </ion-row>

    <ion-row size="500px">
    <ion-col>
    Coelho Nero
    </ion-col>
    <ion-col>
     2
    </ion-col>
  </ion-row>

  <ion-row size="500px">
  <ion-col>
  Histórias Passageiras
  </ion-col>
  <ion-col>
   1
  </ion-col>
</ion-row>


<ion-row size="500px">
<ion-col>
Meninos e Dragões
</ion-col>
<ion-col>
 5
</ion-col>
</ion-row>

<ion-row size="250px">
<ion-col>
O Alienista – Em Quadrinhos</ion-col>
<ion-col>
1
</ion-col>
</ion-row>

<ion-row size="250px">
<ion-col>
Omar Viñole – Sketchbook Custom
</ion-col>
<ion-col>
1
</ion-col>
</ion-row>

<ion-row size="250px">
<ion-col>
Orixás – em Guerra
</ion-col>
<ion-col>
1
</ion-col>
</ion-row>

<ion-row size="250px">
<ion-col>
Orixás: do Orum ao Ayê
</ion-col>
<ion-col>
1
</ion-col>
</ion-row>


  <ion-row size="500px">
  <ion-col>
  Volkan 01
  </ion-col>
  <ion-col>
   1
  </ion-col>
</ion-row>

<ion-row size="500px">
<ion-col>
Volkan 02
</ion-col>
<ion-col>
 2
</ion-col>
</ion-row>
  </ion-grid>
</div>