<div class="rodape">
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-row class="alinhamentoRedes">
        <ion-col size="uto">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-col>
        <ion-col size="uto">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-col>
        <ion-col size="auto">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-col>
        <ion-col size="auto">
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="bgLista">
       <ion-col>
        <list>
          <ion-label>Sobre nós</ion-label>
          <li>Comunicados à imprensa</li>
            <li>Faça seu cadastro</li>
            <li>Anuncie suas publicações</li>
            <li>Gêneros mais buscados</li>
            <li>Dúvidas e SAC</li>
          </list>
       </ion-col>
       <ion-col>
        <list>
          <ion-label>Formas de pagamento</ion-label>
          <li>Boleto bancário</li>
            <li>Cartões de crédito</li>
            <li>Cartões de débito</li>
            <li>Pix</li>
          </list>
       </ion-col>
      
      </ion-row>
    </ion-col>
    <ion-col class="newsletterContainer" size="3">
      <ion-row>
        <h5>Assine nossa newsletter</h5>

        <p>Receba semananalmente as novidades e lançamentos em seu e-mail</p>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="text" placeholder="E-mail"></ion-input>
        </ion-col>
        <ion-col size="uto">
          <ion-button fill="solid" expand="bloco">Assinar</ion-button>
        </ion-col>a
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col class="containerDireitos">
      <ion-label>2022 - Todos os direitos reservados</ion-label>
    </ion-col>
  </ion-row>
</div>