<app-toolbar></app-toolbar>

<ion-content>
  <div *ngIf="componenteExibido == 0" class="ion-padding">
    <ion-row>
      <ion-button fill="solid" expand="block" class="cadastroPublicacao" routerLink="../1">Cadastrar publicação</ion-button>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <app-advanced-chart></app-advanced-chart>
      </ion-col>
      <ion-col size="6">
        <div class="container">
          <ion-label class="labelPie">Vendas realizadas no mês</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="4">
        <div class="container, espacamentoInferior">
          <ion-label class="labelBar">Por publicações mais vendidas</ion-label>
        </div>
      </ion-col>
      <ion-col size="8">
        <app-bar-chart></app-bar-chart>
      </ion-col>
    </ion-row>
    
    <app-pedidos></app-pedidos>
  </div>

  <div *ngIf="componenteExibido == 1" class="ion-padding">
    <app-banner-nova-publicacao></app-banner-nova-publicacao>
    
    <app-nova-publicacao></app-nova-publicacao>
  </div>

  <div *ngIf="componenteExibido == 2" class="ion-padding">
    <app-publicacoes-pagina-autor [autor]="autor"></app-publicacoes-pagina-autor>
  </div>

  <div *ngIf="componenteExibido == 3" class="ion-padding">
    <app-dados-cadastrais></app-dados-cadastrais>
  </div>

  <div *ngIf="componenteExibido == 5">
    <app-header-pagina-autor [autor]="autor"></app-header-pagina-autor>

    <app-publicacoes-pagina-autor class="ion-padding" [autor]="autor"></app-publicacoes-pagina-autor>
  </div>
  
  <app-footer></app-footer>
</ion-content>