<ng-container *ngIf="publicacao != undefined && autorPublicacao != undefined">
  <div class="tamanhoMaximoLinha">
    <ion-row>
      <ion-col>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-card>
              <ion-card-header>
                <img [src]="publicacao.fotosPublicacao[0]">
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-card class="cardDados">
          <ion-card-header>
            <ion-label>{{ publicacao.tituloPublicacao }}</ion-label>
          </ion-card-header>
          <ion-card-content>
            <div class="dadosPublicacao">
              <ion-row class="ion-align-items-center">
                <ion-label class="subHeaderCard">Autor: {{ autorPublicacao.nomeAutor }} {{ autorPublicacao.sobrenomeAutor }}</ion-label>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-label class="precoAnterior">De: R$ {{ publicacao.precoDePublicacao }}</ion-label>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-label class="precoPublicacao">Por: </ion-label>
                <ion-label class="precoPublicacao">R$ {{ publicacao.precoPorPublicacao }}</ion-label>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-button fill="solid" expand="block" *ngIf="!usuarioLogado; else autorLogado" class="botaoComprar">Comprar</ion-button>
              
                <ng-template #autorLogado>
                  <ion-button fill="solid" expand="block" class="botaoComprarAutor">Comprar</ion-button>
                </ng-template>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-label class="calcularFrete">Calcular Frete</ion-label>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-input tyoe="number" placeholder="00000-000"></ion-input>
                </ion-col>
                <ion-col size="auto">
                  <ion-button fill="clear" expand="small">Calcular</ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div class="detalhesPublicacao">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-label  class="alinhamentoDetalhes">Número de páginas: {{ publicacao.qtdPaginasPublicacao }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-label  class="alinhamentoDetalhes">Tamanho: {{ publicacao.tamPublicacao[0] }}cm x {{ publicacao.tamPublicacao[1] }}cm</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-label  class="alinhamentoDetalhes">Peso: {{ publicacao.pesoPublicacao }}gr</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-label  class="alinhamentoDetalhes">Gênero: {{ publicacao.generoPublicacao.tituloGenero }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-label  class="alinhamentoDetalhes">Faixa etária: {{ publicacao.faixaEtariaPublicacao }}</ion-label>
      </ion-col>
    </ion-row>
    
  </div>
  
  <div class="descricaoPublicacao">
    <ion-row class="ion-align-items-center">
      <ion-label class="descricaoPublicacaoTitulo">Descrição:</ion-label>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <p>
        {{ publicacao.descricaoPublicacao }}
      </p>
    </ion-row>
  </div>
 
  
</ng-container>