<div>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <div class="imagem">
            <img src="../assets/publicacoes/default/tema1.png">
          </div>
        </ion-card-header>
        
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <div class="imagem">
            <img src="../assets/publicacoes/default/tema2.png">
          </div>
        </ion-card-header>
        
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <div class="imagem">
            <img src="../assets/publicacoes/default/tema3.png">
          </div>
        </ion-card-header>
        
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <div class="imagem">
            <img src="../assets/publicacoes/default/tema4.png">
          </div>
        </ion-card-header>
        
      </ion-card>
    </ion-col>
    
  </ion-row>
</div>