.tituloAutores {
    font-weight: bolder;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-25%);
}

.containerAutores {
    height: 250px;
}

ion-avatar {
    width: 50%;
    height: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}


ion-card-content {
    align-items: center;
    text-align: center;
    font-weight: bold;
}

img {
    width: 100%;
    height: 110px;
}